.projects {
    padding: 120px 0px 2px 0px;
    background: var(--beige, #DCC1AB);
    position: relative;
    transition: all 0.7s ease-in-out;
}

.gradient {
    width: 100%;
    height: 55%;
    position: absolute;
    bottom: 42px;
    background: linear-gradient(360deg, #DCC1AB 0%, rgba(214, 183, 158, 0.00) 100%);
    transition: all 0.7s ease-in-out;
    pointer-events: none; 
}

.projects__texts {
    display: flex;
    padding-left: 88px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    padding-bottom: 96px;
}

.projects__nav {
    color: var(--green, #1B5B31);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 18px */
    letter-spacing: -0.12px;
    margin-bottom: 16px;
}

.projects__headline {
    color: var(--black, #111);
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 115%; /* 55.2px */
    letter-spacing: -1.44px;
}

.projects__headline em {
    color: var(--black, #111);
    font-family: Inter;
    font-size: 48px;
    font-style: italic;
    font-weight: 500;
    line-height: 115%;
}

.projects__gallery {
    column-count: 3;
    gap: 43px;
}

.projects__photo img {
    width: 100%;
    margin-bottom: 42px;
}

.projects__button {
    position: absolute;
    bottom: 90px;
    right: calc(50% - 61.5px);
    display: flex;
    padding: 12px 22px 14px 22px;
    align-items: center;
    gap: 8px;
    border-radius: 200px;
    border: 1px solid var(--black, #111);
    color: var(--black, #111);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    z-index: 1;
    transition: all 0.3s ease-in-out;
    transition: bottom 0.7s ease-in-out;
}

.projects__button:hover {
    border: 1px solid var(--black, #1B5B31);
    color: var(--black, #1B5B31);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
}

.projects.loaded {
    padding-bottom: 90px;
}

.gradient.loaded {
    height: 0;
}

.projects__button.loaded {
    bottom: 44px;
}

.projects__button.loaded::after {
    transform: rotate(180deg);
}

.projects__button::after {
    content: url("../images/icons/arrow-down-black.svg");
    width: 16px;
    height: 16px;

}

.projects__button:hover::after {
    content: url("../images/icons/arrow-down.svg");
    width: 16px;
    height: 16px;

}

.popup { 
    display: none; 
}

.popup.open { 
    display: block; 
}

.popup-close {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: ' ';
    background: rgba(0,0,0,.8);
    z-index: 1;

}
.popup-photo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.popup-photo img {
    height: 90vh;
}