.intro {
    position: relative;
    height: calc(100vh - 72px);
    overflow: hidden;
}

.slide1 {
    display: flex;
    align-items: center;
    gap: 64px;
    background: #DCC1AB;
    height: calc(100vh - 72px);
}

.slide2 {
    display: flex;
    align-items: center;
    gap: 64px;
    background: #dcb7ab;
    height: calc(100vh - 72px);
}

.slide3 {
    display: flex;
    align-items: center;
    gap: 64px;
    background: #dcd5ab;
    height: calc(100vh - 72px);
}

.intro__left {
    padding-left: 88px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
}

.intro__texts {
    margin-bottom: 72px;
    width: min-content;
}

.intro__texts h1 {
    margin-bottom: 44px;
    color: var(--black, #111);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat;
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: 70px;
    width: max-content;
    
}

.intro__texts span {
    color: var(--black, #111);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.intro__buttons {
    display: flex;
    gap: 36px;
}

.intro__button {
    display: flex;
    padding: 12px 22px 14px 22px;
    align-items: center;
    gap: 8px;
    border-radius: 200px;
    background: none;
    border: 1px solid #1B5B31;    
    color: #1B5B31;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

.intro__button:hover {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
}

.filled {
    background: var(--green, #1B5B31);
    color: #F5F0EC;
}

.filled:hover {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);

}

.unfilled::after {
    content: url("../images/icons/arrow-down.svg");
    width: 16px;
    height: 16px;
}

.intro__right {
    height: inherit;
    width: 50%;
    background-image: url("../images/photos/intro.jpeg");
    background-size: cover;
    background-position: center;
}

.intro__slider {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    background: #F5F0EC;
    padding: 24px 32px;
    gap: 32px;

    cursor: pointer;
}

.intro__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
}